################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpaceInvaders/copilot-chat/0f186604/sessions
/.vs/SpaceInvaders/CopilotIndices/17.14.1091.29919
